body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  background-color: rgb(85, 148, 85);
  padding: 25px;
}

.logo {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cards {
  max-width: 470px;
  margin: 0 auto;
}

.card {
  display: flex;
  padding: 25px 0;
  gap: 15px;
  box-shadow: 0px 16px 6px -14px rgb(203, 203, 203);
  text-align: left;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img {
  width: 126px;
  height: 168px;
}

.map-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.google-link {
  font-size: 10px;
  color: #918e9b;
}

.card-title {
  margin-top: 0;
  margin-bottom: 15px;
}

.date {
  font-size: 11px;
  font-weight: 700;
}

.description {
  font-size: 11px;
}
